@font-face {
    font-family: "Poppins-Bold";
    src: url("media/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("media/fonts/Poppins-Medium.ttf") format("truetype");
}

body {
    background-color: #DCE1E3;
    font-family: Poppins;
    color: #540a0a;
    text-align: center;
}

#title {
    font-family: Poppins-Bold, 'Trebuchet MS';
    font-size: 200px;
    margin: 0px;
}


#description {
    margin-top: 5em;
    font-size: 15px;
}

#getStartedButton {
    margin-top: 3em;
    background-color: #540a0a;
    color: #DCE1E3;
    font-family: Poppins;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 99%;
    text-align: right;
    padding-right: 1%;
    padding-bottom: 5px;;
}
